<!DOCTYPE html>
<html>
<head>
  <title>ДЗ Калинкин М. А.</title>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <style>
    #app {
      flex-direction: column;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
    }
    h1 {
      margin-top: 0;
    }
    input[type="text"] {
      width: 200px;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid #4d0c39;
    }
    button {
      background-color: #af4c8e;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
    }
    button:hover {
      cursor: pointer;
      background-color: #3e8e41;
    }
    button:focus {
      outline: none;
    }
  </style>
</head>
<body>  
    <div id="app">
      <h1>Калькулятор</h1>
      <div>
        <input type="text" v-model="num1" />
        <input type="text" v-model="operation" />
        <input type="text" v-model="num2" />
      </div>
      <div>
        <button @click="action">Посчитать</button>
      </div>
      <div>
        <p>Результат: {{ result }}</p>
      </div>
    </div>  
    <script>
      const app = new Vue({
        el: '#app',
        data: {         
          num1: 0,
          num2: 0,
          result: 0,
          operation: "+"
        },
        methods: {
      add() {
        this.result = parseInt(this.num1) + parseInt(this.num2);
      },
      sub() {
        this.result = parseInt(this.num1) - parseInt(this.num2);
      },
      mult() {
        this.result = parseInt(this.num1) * parseInt(this.num2);
      },
      div() {
        this.result = parseInt(this.num1) / parseInt(this.num2);
      },
      err_msg() {
        this.result = "operator must be: '+', '-', '*','/'! Not " + this.operation + "!";
      },
      action() {
        switch (this.operation) {
            case "+":
                this.add();
                break;
            case "-":
                this.sub();
                break;
            case "*":
                this.mult();
                break;
            case "/":
                this.div();
                break;
            default:
                this.err_msg();
                break;
        }
      }
    }
      })
    </script>
</body>
</html>
