*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: none;
    
    font-style: normal;
    font-family: 'Inter';
    font-style: normal;
    background: #f9f9f9;
}

.main-content
{
    display: flex;
}
.events
{
    margin-right: 1% !important;
}
.dist-profile
{
    display: flex;
    align-items: flex-start;
}
.events-header
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.msg-footer
{
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.dlya-knopki
{
    display: flex;
    justify-content: right;
}
.event
{
    margin-top: 1em;
    
}
.event-text
{
    margin-top: 0.3em;
    margin-bottom: 1em;
}
.msg
{
    width: 75%;
}
.dist-profile
{
    margin: 2% 0;
}
.std-button, .file-button
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    height: 2em;
    padding: 0 1em;
}
.std-button
{
    background: #2D56E7;
    color: #FFFFFF;
}
.file-button
{
    border: 1px solid #e6e7ec;
    text-align: center;
}
.std-button:hover, .file-button:hover
{
    opacity: 0.5;
    cursor: pointer;
}
.std-border
{
    border-radius: 5px;
}
.addiction-text, ::placeholder 
{
    color: #96A2AF;
}
.addiction-text, select, option
{
    font-size: 18px
}
.msg-dist-count-text
{
    line-height: 40px;
    
    margin-right: 2%;
}
.header-text
{
    margin-left: 1%;
    padding: 1% 0 1% 2%;
}
::placeholder 
{
    font-size: 22px;
}

.main-block
{ 
    border-radius: 12px;
    margin: 1% 0 1% 1%;
    padding: 2%;
}
main *, .main-header, .header-text
{
    background: #ffffff;
}

.main-block input, textarea, button, select
{ 
    border: none;
}
.reference
{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #2D56E7;
    text-decoration: none
}
h1, h2, span, p, .file-button, select, option
{
    color: #1D2129;
}
h1, h2
{
    font-weight: 500;
}
h1
{
    
    font-size: 26px;
    line-height: 32px;
}
h2
{
    font-size: 24px;
    line-height: 40px;
}
textarea
{
    height: 10em;
}
input[type=text], textarea, .event
{
    border-bottom: 1px solid #e6e7ec !important;
}
input[type=search]
{
    background-color: #F2F3F5;
    padding: .5em;
}
input[type=text], textarea, input[type=search]
{
    width: 100%;
    margin: 1em 0;
    resize: none;
}

input[type=text]:focus, textarea:focus, input[type=search]:focus
{
    outline: none;
}
input[type=checkbox]
{
    margin-right: 1em;
    transform:scale(1.3);
}