body 
{
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    font-style: normal;
}
.palka
{
    opacity: 0.5;
    
    width: 100%;
    border: 1px solid #6A6B70;
}
.social-navigator-content
{
    padding-left: 5%;
    padding-right: 5%;
}
img{
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #98acb3;
    width: 30em;
    height: 20em;
}
.social-navigator-back
{
    background: linear-gradient(180deg, #E2F1DA 0%, #D4FBF7 100%);
    padding: 3%;
}
.social-navigator-info
{
    padding-top: 3%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.social-navigator-text
{
    width: 528px;
    height: 176px;

    font-weight: 600;
    font-size: 70px;
    line-height: 88px;

    color: #6A6B70;
}

.life-situation-back
{
    padding: 3%;
}
.life-situation-content
{
    padding-left: 5%;
    padding-right: 5%;
}
.life-situation-text
{
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    color: #6A6B70;
}
.life-situation-info
{
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #6A6B70;
}
.life-situation-all-ref
{
    display: flex;
    justify-content:space-between;
    align-items:stretch;
    margin-bottom: 3%;
}
.life-situation-ref
{
    background: #ffffff;
    display: grid;
    justify-content:space-around;
    align-items:flex-start;
    
    width: 30%;
    height: 30%;
}

.life-situation-ref-top
{
    background-color: #DBF3EB;
    border-radius: 10px 10px 0px 0px;
    padding: 3% 10%;
}
.life-situation-ref-top-image
{
    width: 100%;
    height: 100%;
}

.life-situation-ref-bot
{
    background-color: #F0F6F4;
    border-radius: 0px 0px 10px 10px;
    padding: 3% 10%;
    height: 100%;
}
.life-situation-ref-bot-text
{
    font-weight: 600;
    font-size: 26px;
    line-height: 125%;
    color: #6A6B70;
    margin: 5% 0;
}
.life-situation-ref-bot-a
{
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4F6ACC;
}

.text-center
{
    display: flex;
    justify-content:center;
    align-items:center;
}
.end-info
{
    background: linear-gradient(180deg, #E2F1DA 0%, #D4FBF7 100%);
    padding: 2%;
}
.end-info-text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #6A6B70;
}